// БЛОК ПОМИДОРКА ТАЙМЕР
.block-content.pomidorka-timer#pomidorka-timer
    span.pomidorka-timer__time
    p.break.js-hide Отдохни! Ты молодчина!
    p.pomidorka-timer__title Курсы по JS ES6
    button.btn.pomidorka-timer__btn-start.js-btn-start Старт
    button.btn.pomidorka-timer__btn-pause.js-btn-pause.js-hide Пауза
    button.btn.pomidorka-timer__btn-end.js-btn-end Хватит