nav.app-menu
    ul.app-menu__list
        li.app-menu__item.app-menu__item_state_active.js-tab(data-name='pomidorka')
            i.far.fa-heart.fa-2x
            span.app-menu__text Помидорка
            .app_menu__indicators.indicators
                .app-menu__color-indicator.app-menu__color-indicator_red
                .app-menu__count-indicator 7
        li.app-menu__item.js-tab(data-name='plans')
            i.far.fa-heart.fa-2x
            span.app-menu__text Список планов
            .app_menu__indicators
                .app-menu__count-indicator 17
        li.app-menu__item.js-tab(data-name='blog')
            i.far.fa-heart.fa-2x
            span.app-menu__text Бложик
            .app_menu__indicators
                .app-menu__count-indicator 27
        li.app-menu__item.js-tab(data-name='chart')
            i.far.fa-heart.fa-2x
            span.app-menu__text Графики
    ul.app-menu__list
        li.app-menu__item.js-tab
            i.far.fa-heart.fa-2x
            span.app-menu__text Настройки
        li.app-menu__item.js-tab
            i.far.fa-heart.fa-2x
            span.app-menu__text Bugs
            .app_menu__indicators
                .app-menu__count-indicator 7