include ../plans-show.component/plans-show
include ../plans-list.component/plans-list
.row
    .block-content
        h3 Здесь ожидается список планов / целей
        p В разработке раздел данный сейчас ...
        hr
        img(src=require('../../images/plans.jpg'), alt="", srcset="").plans-logo