// БЛОК ФОРМА ДОБАВИТЬ ПОМИДОРКУ
form#pomidorka-create-form.block-content.pomidorka-create-form
    h2.pomidorka-create-form__header Добавить помидорку
    .form-control
        label.pomidorka-create-form__label
            | Цель помидорки:
            input.pomidorka-create-form__input-text(type='text', name='pomidorkatitle', placeholder='Напишете помидорку')
    .form-control
        label.pomidorka-create-form__label
            | Количество:
            input.pomidorka-create-form__input-tex(type='number', name='count', placeholder='Сколько помидорок')
    button.btn.pomidorka-create-form__btn-add(type='submit') Тык
// БЛОК СПИСОК ПОМИДОРОК
//- ul.block-content.pomidorka-list
div.block-content#pomidorka-list
    table.pomidorka-table

div.block-content.test-content
    h2 Тестовый полигон
    button.btn.js-update Обновить
    button.btn.js-delete Удалить