// БЛОК ПОМИДОРКА ТАЙМЕР
.block-content.pomidorka-timer
    span.pomidorka-timer__time 0:05
    p.break.js-hide Отдохни
    p.pomidorka-timer__title Курсы по JS ES6
    button.btn.pomidorka-timer__btn-start.js-btn-start Поехали
    button.btn.pomidorka-timer__btn-pause.js-btn-pause.js-hide Пауза
    button.btn.pomidorka-timer__btn-end.js-btn-end Хватит