// БЛОК СПИСОК ПОМИДОРОК
div.block-content.pomidorka-list#pomidorka-list
    p Первая помидорка в списке улетает в таймер
    hr
    .cssload-loader#loader
        .cssload-inner.cssload-one
        .cssload-inner.cssload-two
        .cssload-inner.cssload-three
    table.pomidorka-table

    include ../pomidorka-edit-form.component/pomidorka-edit-form