body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.btn {
    border: 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 5px;
    width: 90px;
    border-radius: 12px;
}
.btn:active {
    background-color: #313740;
}
.js-hide {
    display: none;
}
.validation-error {
    color: #E8485A;
    font-size: 10px;
}
.control-invalid {
    border: 2px solid #E8485A;
}

/* СТИЛИ ДЛЯ СТРОИТЕЛЬНЫХ ЭЛЕМЕНТОВ */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #F0F0F0;
    min-width: 520px;
}
.app-header {
    flex: 0 0 65px;
    /* border: 2px solid tomato; */
    box-sizing: border-box;
    position: relative;
    display: flex;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.app-header__logo {
    font-family: 'Berkshire Swash', cursive;
    font-size: 26px;
    width: 240px;
    padding-top: 16px;
    background-color: #E8485A;
    color: #fff;  
    text-align: center;
}
.app-footer {
    flex: 0 0 20px;
    /* border: 2px solid tomato; */
    box-sizing: border-box;
    background-color:#2D9CDB;
}
.main {
    flex: 1 0 auto;
    display: flex;
    /* border: 2px solid tomato; */
    box-sizing: border-box;
}
.main__workspace {
    flex: 1 1 auto;
    /* border: 2px solid rgb(0, 183, 255); */
    box-sizing: border-box;
    padding: 40px;
}
.main__aside {
    flex: 0 0 240px;
    position: relative;
    margin: 0;
    padding: 0;
    background: #313740;
    /* border: 2px solid rgb(0, 183, 255); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
/* общий стиль для подложки у блоков */
.block-content {
    position: relative;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
/* СТИЛИ ДЛЯ БЛОКА МЕНЮ */
.app-menu {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #313740;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.app-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.app-menu__item {
    flex: 0 0 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
}
.app-menu__item:hover {
    background-color: rgba(0, 0, 0, 0.30);
}
.app-menu__item_state_active {
    background-color: rgba(196, 196, 196, 0.15);
    border-left: 4px solid #fff;
}
.app-menu__item_state_disabled {
    pointer-events: none;
}
.app_menu__indicators {
    /* border: 2px solid #2D9CDB; */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.app-menu__color-indicator {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 0 5px;
}
.app-menu__color-indicator_red {background-color: #E8485A;}
.app-menu__color-indicator_green {background-color: rgb(25, 185, 11);}
.app-menu__color-indicator_blue {background-color: #2D9CDB;}

.app-menu__count-indicator {
    border-radius: 10px;
    background-color: #2D9CDB;
    width: 3em;
    text-align: center;
    margin: 0 5px;
}
.app-menu__text {
    font-size: 14px;
    margin: 0 10px;
}

/* СТИЛИ ДЛЯ БЛОКА ТАЙМЕРА */
.pomidorka-timer {
    text-align: center;
}
.pomidorka-timer__time {
    font-size: 72px;
    font-weight: bold;
}
.pomidorka-timer__title {
    font-size: 24px;
    line-height: 5px;
}
.pomidorka-timer__btn-start {
    background-color: #2D9CDB;
}
.pomidorka-timer__btn-pause {
    background-color: rgb(25, 185, 11);
}
.pomidorka-timer__btn-end {
    background-color: #E8485A;
}
.pomidorka-timer__btn-start:hover {
    background-color: rgb(3, 90, 141);
}
.pomidorka-timer__btn-end:hover {
    background-color: rgb(119, 0, 20);
}
.pomidorka-timer__btn-pause:hover {
    background-color: rgb(0, 97, 5);
}
.pomidorka-timer_theme_dark {
    background-color: rgba(196, 196, 196, 0.15);
    color: #fff;
    position: relative;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


/* СТИЛИ ДЛЯ БЛОКА НАСТРОЕК */
.pomidorka-config-form {
}

/* СТИЛИ ДЛЯ БЛОКА ФОРМЫ ДОБАВЛЕНИЯ ПОМИДОРОК*/
.pomidorka-create-form {
}

/* СТИЛИ ДЛЯ БЛОКА СПИСКА ПОМИДОРОК */
.pomidorka-list {
}