.row
    include ../pomidorka-timer.component/pomidorka-timer
    include ../pomidorka-config-form.component/pomidorka-config-form
    include ../pomidorka-list.component/pomidorka-list
    include ../pomidorka-create-form.component/pomidorka-create-form

