doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Berkshire+Swash', rel='stylesheet')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		title Todorka
	body
		.wrapper
			include templates/header
			main.main
				aside.main__aside
					include templates/pomidorka-timer-aside
					include components/navigation.component/navigation

				section.main__workspace
					.inner-section.pomidorka-space#pomidorka-space
						include components/pomidorka-app.component/pomidorka-app
					.inner-section.plans-space.js-hide#plans-space
						include components/plans-app.component/plans-app
					.inner-section.blog-space.js-hide#blog-space
						include components/blog-app.component/blog-app
					.inner-section.chart-space.js-hide#chart-space
						include components/chart-app.component/chart-app
					.inner-section.config-space.js-hide#config-space
						include components/config-app.component/config-app
					.inner-section.bugs-space.js-hide#bugs-space
						include components/bugs-app.component/bugs-app
			include templates/footer

