doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Berkshire+Swash', rel='stylesheet')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
		title Todorka
	body
		.wrapper
			include templates/header
			main.main
				aside.main__aside
					include templates/pomidorka-timer-aside
					include templates/navigation

				section.main__workspace
					.inner-section.pomidorka-space#pomidorka-space
						.row
							include components/pomidorka-timer.component/pomidorka-timer
							include components/pomidorka-config-form.component/pomidorka-config-form
							include templates/pomidorka-space/pomidorka-create
					.inner-section.plans-space.js-hide
						include templates/plans-space/plans
			include templates/footer

